.custom-card[data-v-abe4f45c] {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin-bottom: 20px
}

.custom-card[data-v-abe4f45c]:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, .25)
}

.el-card__header[data-v-abe4f45c] {
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.card-title[data-v-abe4f45c] {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    flex-grow: 1
}

.card-title-icon[data-v-abe4f45c] {
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin-right: 8px
}

.update-time[data-v-abe4f45c] {
    font-size: 12px;
    color: #b7b3b3;
    margin-left: auto
}

.cell-group-scrollable[data-v-abe4f45c] {
    max-height: 350px;
    overflow-y: auto;
    padding-right: 16px;
    flex: 1
}

.cell-wrapper[data-v-abe4f45c] {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    border-bottom: 1px solid #e8e8e8
}

.cell-order[data-v-abe4f45c] {
    width: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
    color: #7a7a7a
}

.cell-heat[data-v-abe4f45c] {
    min-width: 50px;
    text-align: right;
    font-size: 12px;
    color: #7a7a7a
}

.cell-title[data-v-abe4f45c] {
    font-size: 13px;
    color: #495060;
    line-height: 22px;
    flex-grow: 1;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis
}

.top-ranking-1 .cell-order[data-v-abe4f45c] {
    color: #fadb14
}

.top-ranking-2 .cell-order[data-v-abe4f45c] {
    color: #a9a9a9
}

.top-ranking-3 .cell-order[data-v-abe4f45c] {
    color: #d48806
}

.cell-title.hover-effect[data-v-abe4f45c] {
    cursor: pointer;
    transition: color .3s ease
}

.cell-title.hover-effect[data-v-abe4f45c]:hover {
    color: #409eff
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    background: #f8f9fa;
    min-height: 100vh;
    padding: 0
}
